@model IEnumerable<ProyectoLiceo_01.Models.Docentes>

@{
    ViewBag.Title = "Index";
    Layout = null;
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreDocente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreDocente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido)
        </td>
        
        <td>
            @Html.ActionLink("Asignar Asignaturas", "Edit", new { id=item.DocenteID }) |
            @Html.ActionLink("Asignar Especialidades", "Edito", new { id=item.DocenteID })
            
        </td>
    </tr>
}

</table>
